<!doctype html>
<html>
  <head>
    <title>CoffeeScript Game Sokoban</title>
    <script src="/js/game_sokoban.js" type="text/javascript" charset="utf-8"></script>
  </head>
<body>

<h1>Game Sokoban</h1>

<%= yield %>

</body>
</html>